@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../app/src/Appfont/font/Gilroy-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.green-gradient {
  background: #55ca8c;
  background: radial-gradient(at center, #89c3ad 15%, #eff1f6 50%);
  height: 500px;
  position: relative;
}
.green-gradienttwo {
  background: #e89589;
  background: radial-gradient(at center, #e89589 15%, #eff1f6 50%);
  height: 500px;
  position: relative;
}
.green-gradientthree {
  background: #6e31a2;
  background: radial-gradient(at center, #6e31a289 15%, #eff1f6 50%);
  height: 800px;
  position: relative;
}
